<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <a href="/tube/"><h2>Hypertube</h2></a>

    {% if user.is_authenticated %}
        <p>Hello, {{ user }}</p>
        <p><a href="/logout/">logout</a></p>
        <p>{{ title }}</p>

        <video width="320" height="240" controls>
            <source src="{{ url }}" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>

    <p>
        {% for tag in tags %}
            <a name='tag'  href="{% url 'home_home' %}?tag={{ tag.name }}">#{{ tag.name }}</a>
        {% endfor %}
    </p>

    {% else %}

        <p>
            You are not logged in. Please log in or
            sign up if you have no account.
        </p>
        <a href="/login/">Login</a>
        <a href="/signup/">Sign Up</a>
    {% endif %}



</body>
</html>